<div class="govco-card">
  <div class="govco-footer">
    <div class="govco-data-front">
      <div class="govco-footer-text">
        <div class="row govco-nombre-entidad">
          <div class="col-xs-12 col-lg-6">
            <h2 class="govco-text-header-1">Superintendencia de Industria y Comercio</h2>
          </div>
          <div class="col-xs-12 col-lg-5 govco-logo-div-a">
            <img src="https://stgsicstatic.z13.web.core.windows.net/src/Logos-Gobierno/Logo_Comercio.png" alt="Logo SIC"
              class="govco-logo-entidad">
          </div>
        </div>

        <div class="row col-xs-12 col-lg-7 govco-texto-sedes">
          <h3 class="govco-text-header-2 mb-3">Sede principal</h3>
          <p class="mb-0">Dirección: Carrera 13 No. 27 - 00, Pisos 1 y 3</p>
          <p class="mb-0"> Código postal: 110311</p>
          <p class="mb-0">Horario de atención: Lunes a Viernes 8:00 am - 4:30 pm</p>
          <p class="mb-0">Teléfono conmutador: +57 601 587 0000 - Bogotá</p>
          <p class="mb-0">Línea de atención: +57 601 592 0400 - Bogotá</p>
          <p class="mb-0">Línea gratuita nacional: 01 8000 910165</p>
          <p class="mb-0">Línea anticorrupción: +57 601 587 0000 - Bogotá</p>
          <p class="mb-0">Correo institucional: <a href="mailto:contactenos@sic.gov.co">contactenos&#64;sic.gov.co</a></p>
          <p class="mb-0">Correo de notificaciones judiciales:&nbsp;<a
              href="mailto:notificacionesjud@sic.gov.co">notificacionesjud&#64;sic.gov.co</a></p>
          <p class="mb-0">Denunciar actos de corrupción:<a
              href="https://servicioslinea.sic.gov.co/servilinea/ServiLinea/DenunciaCorrupcion/control/DenunciaCorrupcion.php"
              target="_blank" rel="noopener noreferrer"> Ingresa a nuestra aplicación de denuncias por corrupción</a>
          </p>
        </div>
        <div class="gov-co-redes-sociales mt-4 mb-4">
          <a class="gov-co-link-presentacion" href="https://www.facebook.com/Superintendenciadeindustriaycomercio/"
            target="_blank" rel="noopener noreferrer">
            <span class="icono-facebook"></span>
            &#64;Superintendenciadeindustriaycomercio
          </a>
          <a class="gov-co-link-presentacion" href="https://www.youtube.com/channel/UC2-SvnOPldLjx4QT7HTCoyw"
            target="_blank" rel="noopener noreferrer">
            <span class="icono-youtube"></span>
            Superintendencia de industria y comercio
          </a>
          <a class="gov-co-link-presentacion" href="https://www.instagram.com/superintendencia_sic/" target="_blank"
            rel="noopener noreferrer">
            <span class="icono-instagram"></span>
            &#64;superintendencia_sic
          </a>
          <a class="gov-co-link-presentacion" href="https://twitter.com/sicsuper" target="_blank"
            rel="noopener noreferrer">
            <span class="icono-x"></span>
            &#64;sicsuper
          </a>
          <a class="gov-co-link-presentacion" href="https://www.tiktok.com/@sicsuper" target="_blank"
            rel="noopener noreferrer">
            <span class="icono-tiktok"></span>
            &#64;sicsuper
          </a>
        </div>
        <div class="govco-listado-sedes">
          <div class="row govco-sedes">
            <div class="govco-sede-info col-xs-12 col-lg-6">
              <h3 class="govco-text-header-2 mb-3">Sede: Servicio de correspondencia y radicación</h3>
              <p class="mb-0"> Dirección: Av. Carrera 7 No. 31a - 36 pisos 3 - Bogotá</p>
              <p class="mb-0">Horario de atención: Lunes a Viernes 8:00 am - 4:30 pm</p>
            </div>
          </div>
        </div>
        <div class="row govco-links-container">
          <div class="govco-link-container mt-2">
            <a class="govco-link-modal govco-link-modal-bold"
              href="/transparencia/normativa/normativa-de-la-entidad/politicas-lineamientos-y-manuales">Políticas</a>
            <a class="govco-link-modal govco-link-modal-bold" href="https://www.sic.gov.co/mapa-del-sitio-sic">Mapa del
              sitio</a>
          </div>
          <div class="govco-link-container mt-2">
            <a class="govco-link-modal govco-link-modal-bold"
              href="/transparencia/normativa/normativa-de-la-entidad/politicas-lineamientos-y-manuales">Términos y
              condiciones</a>
          </div>
          <div class="govco-link-container mt-2">
            <a class="govco-link-modal govco-link-modal-bold"
              href="https://sedeelectronica.sic.gov.co/transparencia/obligacion-de-reporte-de-informacion-especifica/accesibilidad">Accesibilidad</a>
          </div>
        </div>
      </div>
    </div>
    <div class="govco-footer-logo">
      <div class="govco-logo-container">
        <span class="govco-co"></span>
        <span class="govco-separator"></span>
        <span class="govco-logo"></span>
      </div>
    </div>
  </div>
</div>
