<div class="govco-header-logo">
  <div class="govco-logo-container">
    <span class="govco-co"></span>
  </div>
  <div class="govco-go-to-govco">
    <a href="https://www.gov.co/home" target="_blank" rel="noopener noreferrer">Ir a GovCo</a>
  </div>
</div>

<div class="govco-header-image">
  <div class="col-xs-12 col-lg-5 govco-logo-sic-div-a">
    <img src="https://stgsicstatic.z13.web.core.windows.net/src/Logos-SIC/Logo_SIC_Horizontal.svg" alt="Logo SIC"
      class="govco-logo-presidencia">
  </div>

  <div class="govcobaseheader_logosbartitle_texto">Seguimiento Contratos</div>

  <div class="col-xs-12 col-lg-5 govco-logo-comercio-div-a">
    <img src="https://stgsicstatic.z13.web.core.windows.net/src/Logos-Gobierno/Logo_Comercio_Horizontal.png"
      alt="Logo SIC" class="govco-logo-entidad">
  </div>
</div>
<div class="line"></div>
<div class="govco-separator"></div>
